/*global*/

html {
    Font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    color: hsl(300, 43%, 22%);
    padding: 4rem 8rem;
    /*padding: 60px 150px;*/
    background-image: url(https://raw.githubusercontent.com/pmelsens/Social-proof-section-frontendmentor/432906e9c1b9e7f6bac44eb83a270e56c73c2d73/images/bg-pattern-top-desktop.svg),
                      url(https://raw.githubusercontent.com/pmelsens/Social-proof-section-frontendmentor/65e53836716e765d4839dcaf224b7b494dd20c88/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}

/*top-part*/

.top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    
}

.title {
    width: 35%;
    margin-bottom: 60px;
}

.title h1 {
    font-size: 4rem;
    font-weight: 700px;
    letter-spacing: -0.2rem;
}

.title p {
    font-size: 1.35rem;
    font-weight: 700px;
    letter-spacing: -0.02rem;
    line-height: 25px;
    color: hsl(303, 10%, 53%);
}

@media screen and (max-width: 1080px) {
   
    .top-part {
        justify-content: center;
        display:flex; 
    }

    .title {
        width: 100vw;
        margin-bottom: 0;
    }

    .title h1 {
        font-size: 3rem;
    }
    
    .title p {
        font-size: 1.25rem;
        font-weight: 700px;
        letter-spacing: -0.02rem;
        line-height: 25px;
        color: hsl(303, 10%, 53%);
        padding-right: auto;
}
}

@media screen and (max-width: 850px) {
    .top-part {
        flex-wrap: wrap;
    }

    html {
        text-align: center;
        padding: 4rem 1rem;
        justify-content: flex-start;
    }
}


@media screen and (max-width: 376px) {

    html {
        text-align: center;
        padding: 4rem 1rem;
        justify-content: flex-start;
        background-image: url(https://raw.githubusercontent.com/pmelsens/Social-proof-section-frontendmentor/8eb688cba186e4d1ed6c9a518d82f2c62b61533e/images/bg-pattern-top-mobile.svg),
                          url(https://raw.githubusercontent.com/pmelsens/Social-proof-section-frontendmentor/8eb688cba186e4d1ed6c9a518d82f2c62b61533e/images/bg-pattern-bottom-mobile.svg); 
        background-repeat: no-repeat;
        background-position: left top, right bottom;
    }

    .title {
        width: 100%;
        margin-bottom: 0 auto;
    }

    .title p {
        padding-right: auto;
    }
}


.rating {
   width: 40rem;
}

.rate {
    display: flex;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    justify-content: flex-start;
    padding: 5px 30px;
    font-weight: 700;
    font-size: 1.2rem;
    flex-wrap: wrap;

}

.rate .stars {
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
}

.rate img {
    width: 20px;
    height: 20px;
    padding: 0 5px;
}

.rate1 {
    margin: 0 100px 20px 0;
}

.rate2 {
    margin: 0 50px 20px 50px;
}

.rate3 {
    margin: 0 0 20px 100px;
}

@media screen and (max-width: 850px) {
    .rating {
        width: 80%;
        margin: 40px 0;
     }
     
     .rate {
        margin: 20px auto;
        justify-content: center;
        padding: 20px 30px;     
     }

     .top-part p {
        margin: 0;
     }

     .rate .stars {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 376px) {
    .rating {
        width: 100%;
        margin: 40px 0;
     }
     
     .rate {
        margin: 20px auto;
        justify-content: center;
        padding: 20px 30px;     
     }

     .top-part p {
        margin: 0;
     }

     .rate .stars {
        margin-bottom: 15px;
    }

}

/*bottom-part*/

#testimony {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#testimony .person {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}


.person img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.person h2 {
    color: white;
    font-weight: 600;
    margin: 5px;
}

.person p {
    color: hsl(333, 80%, 67%);
    font-size: 1.15rem;
    margin: 5px;
}

.text p {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 25px;
    }

.square {
    width: 21rem; 
    background-color: hsl(300, 43%, 22%);
    padding: 30px;
    border-radius: 10px;
}

.testimony1 {
    margin: 0 15px 50px 0;
}

.testimony2 {
    margin: 25px 15px 25px 0;
}

.testimony3 {
    margin: 50px 0 0 0;
}

@media screen and (max-width: 850px) {
    #testimony {
        flex-wrap: wrap;
        justify-content: center;
    }

    .testimony3, .testimony2, .testimony1 {
        margin: 0 0 15px 0;
    }
}

@media screen and (max-width: 376px) {

    #testimony {
        text-align: left;
    }


}
